##Tarea 1

In [0]:
#Paula Ramos
#funcion de Multiplicacion 
def multi(a, b):
  return a*b

In [0]:
num1=2
num2=9
n= multi(num1, num2)
print("la multiplicacion de " + str(num1) + " por " + str(num2) + " es: "+ str(n))

la multiplicacion de 2 por 9 es: 18

#tarea 2
escribir una funcion que regrese el 7% de una compra cual es el resultado de la vent?

In [0]:
m=10
p=0.07
def porc(m,p):
  return m*p
a=porc(m,p)


def total(m,p):
  return m+ porc(m,p)

In [0]:
print("el 0.07% del monto es: " + str(a) + " el moto es: " + str(m) + " el total es:" + str(total(m,p)))

el 0.07% del monto es: 0.7000000000000001 el moto es: 10 el total es:10.7

##Tarea 3
si es jubilada
aplicar decuento de 30%
imprimir el total

In [1]:
m=10 
p=0.30
jubilado == True 

if jubilado == True 

def jubilado(m,p):
  return m*p

a=porc(m,p)

def total(m,p):
  return m+ porc(m,p)

else:
  jubilado==False
  print("NO TIENE DESCUENTO")

NameError: ignored